/*--------General styles--------*/
:root {
    --primary-brand-color: #4d5ae5;
    --pressed-state-color: #404bbf;
    --dark-color: #2e2f42;
    --btn-color: #ffffff;
    --light-color: #f4f4fd;
    --accept-color: #e7e9fc;
    --general-text-color: #434455;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}




.list {
    list-style: none;
}

.link {
    text-decoration: none;
}


body {
    font-family: 'Roboto', sans-serif;
    color: var(--general-text-color);
}

/*--section-1 & portfolio page--*/
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
/*------------------------------*/


/*--------header--------*/

.logo-header {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand-color);
}

.logo-studio {
    color: var(--dark-color);
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}

.nav-link:hover,
.nav-link:focus,
.nav-link.current {
    color: var(--pressed-state-color);
}

.address-list {
    list-style: none;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--general-text-color);
}

.address-list:hover,
.address-list:focus {
    color: var(--pressed-state-color);
}

/*--------Hero--------*/
.hero-section {
    background-color: var(--dark-color);
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--btn-color);
}

.btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--btn-color);
    background: var(--primary-brand-color);
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    background: var(--pressed-state-color);
}

/*--section1--*/

.advantages-tile {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}

.advantages-list {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*--section2--*/

.services-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}

/*--section3--*/

.team-section {
    background-color: var(--light-color);
}
.team-title {
    font-size: 36px;
    line-height: 1.11;
    color: var(--dark-color);
}

.team-card-bg {
    list-style: none;
    background-color: var(--btn-color);
}

.team-member {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    
    letter-spacing: 0.02em;
    color: var(--dark-color);
}

.member-position {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*--footer--*/

.footer-section {
    background-color: var(--dark-color);
}

.logo-footer {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand-color);
}

.logo-footer-studio {
    color: var(--light-color);
}

.invitation {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accept-color);
}

/*--------portfolio--------*/
/*--filter--*/

.filter-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-brand-color);
    background: var(--light-color);
    border: 1px solid var(--accept-color);
    border-radius: 4px;
    cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
    color: var(--btn-color);
    background: var(--pressed-state-color);
}

/*--project card--*/

.project-card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}

.category-title {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}